            .labelbreedte {
                width: 600px;
            }
            
            .ziekregistratie {
                width: 200px;
            }
            
            .ziekregistratieNaam {
                width: 200px;
            }
            
            .soortPersoon {
                width: 200px;
            }
            
            .ziekregistratieAchternaam {
                margin-left: 50px;
                margin-right: 20px;
                width: 100px;
            }
            
            .ziekregistratie2 {
                width: 60px;
                margin-left: 20px;
            }
            
            .ziek {
                margin-top: 5px;
            }
            
            .regelcontainer {
                display: flex;
                width: 800px;
            }
            
            #firstName,
            #surName {
                width: 200px;
            }
            
            #ziek {
                width: 50px;
            }
            
            .behandelingen {
                display: flex;
                width: 400px;
            }
            
            .buttonVerwerking {
                font-size: 20px;
                background-color: aqua;
                width: 200px;
                height: 80px;
            }